body {
    background: #3d3e40;
    font-family: Roboto,arial,sans-serif;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.title{
    color: #f1a63c;
    font-family: Roboto,arial,sans-serif;
    margin-left: 42%;
    align-content: center;
}
.olv{
    color: whitesmoke;
    display: inline;
}
.cta{
    color: whitesmoke;
    font-size: 1.4em;
    align-content: left;
}
.reg{
    color: #f1a63c;
    font-family: Roboto,arial,sans-serif;
}
.home {
background-color:#dddee0;
color: whitesmoke;
}
#btn-saldo{
    margin-top: 30%;
    margin-bottom: 5%;
    color: whitesmoke;
    box-shadow: #3d3e40;
}
#btn-tarifa{
    margin-bottom: 5%;
    color: whitesmoke;
}
#btn-perfil{
    margin-bottom: 5%;
    color: whitesmoke;
}
#btn-qa{
    margin-bottom: 30%;
    color:whitesmoke;
}
#person{
    width: 50%;
    margin-left: 30%;
}
.mp{
    align-content: center;
    color: whitesmoke;
}    
.tarifas_pic{
    background-color: #f1a63c;
}

.tarifas_bt{
    background-color: #dddee0;
}   